@page "/todolist"
@inject HttpClient Http
@inject Microsoft.AspNetCore.Blazor.Services.IUriHelper UriHelper
@using Microsoft.AspNetCore.Blazor
@using Models
@using static Models.UrlApiWeb

<h3>Cadastro - Items de uma lista</h3>
<div>
    <div class="input-group mb-3">
        <input type="text" class="form-control" bind="title" placeholder="Digite o titulo" aria-label="Digite o titulo" aria-describedby="basic-addon2" />
        <div class="input-group-append">
            <button class="btn btn-outline-success" type="button" onclick="@AddCreditAsync">Adicionar</button>
        </div>
    </div>
</div>
<div>
    @if (Credits == null)
    {
        <p><em>Loading...</em></p>
    }
    else
    {
        <table class="table">
            <thead>
                <tr>
                    <th style="width:10%;text-align:center">Id</th>
                    <th style="width:80%;text-align:center">Título</th>
                    <th style="width:10%;text-align:center">...</th>
                </tr>
            </thead>
            <tbody>
                @foreach (var item in Credits)
                {
                    <tr>
                        <td style="text-align:center">@item.Id.ToString("00000")</td>
                        <td style="text-align:left">@item.Title</td>
                        <td style="text-align:center">
                            <a href='/todolistupdate/@item.Id' class="btn btn-default">Alterar</a>
                        </td>
                    </tr>
                }
            </tbody>
        </table>
    }

</div>

<button onclick="@InitListAsync" class="btn btn-primary">Atualizar</button>
@functions{

    Credit[] Credits;

    string title = "";

    protected async Task AddCreditAsync()
    {
        if (!string.IsNullOrEmpty(title))
        {
            Credit cr = new Credit();
            cr.Title = title;
            await Http.SendJsonAsync(HttpMethod.Post, GetBaseUrl("credits"), cr);
            title = "";
            await InitListAsync();
        }
    }

    protected override async Task OnInitAsync()
    {
        await InitListAsync();
    }

    async Task InitListAsync()
    {
        Credits = null;
        StateHasChanged();
        Credits = await Http.GetJsonAsync<Credit[]>(GetBaseUrl("credits"));
    }

}